extends layout
block content
    
    title truck list.
    link(rel='stylesheet', href='/css/pugList.css')

      


    body


        
        .main-content
          header
            h2
              .header-title
                label(for='')
                  span.las.la-bars
                |                 STAY CLEAN
            |                 
            
        
        .recent-grid
          .Projects
            .card
              .card-header

                a.btn.btn-warning(href='/request', role='button') 
                  span.las.la-arrow-left
                   |  Back
                
                h3 Truck list.
                |                         
                
                  
                form.example(action='/truck')
                  input(type='text', placeholder='Search..', name='truckService')
                  |   
                  button(type='submit')
                    i.fa.fa-search
                            

                a.btn.btn-warning(href='/truck/truckReg', role='button') 
                  
                
                  span.las.la-truck 
                    |Add Truck
                   
                

              .card-body

              table
              table.table.table-hover
                thead
                        
                
          
                  tr
                      
                      th Reg number 
                      th code number
                      th truck service type
                      th Driver
                      th
                      
                
                tbody
                  if trucks.length
                  each truck in trucks
                      tr
                          
                          td #{truck.regNumber}
                          td #{truck.codeNumber}
                          td #{truck.truckService}                          
                          td #{truck.driver} 
                          td
                              a(href='/truck/update/'+truck._id)
                                span.icon 
                                  i.las.la-edit 
                          td
                              form(method="post" action='/request/delete')
                                        input(type="hidden", placeholder="", name="id", value=truck._id)
                                        button.btn.btn-success.btn-block(type="submit") Delete


          
                        
